


/* 
    Uverit Converter
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



html{
    scroll-behavior:smooth;
}

.App{
    padding:0 var(--size6);
}

.wrapper{
    width:min(1024px, 100%);
    margin:0 auto;
}

.glass{
    padding:var(--size6);
    position:relative;

    box-shadow:var(--boxShadow1), var(--boxShadow2), var(--boxShadowIns1);
    border:none;
    border-radius:var(--size6);

    background-image:url("../img/noise-texture-big.svg");
    background-color:var(--color3st1);
    background-size:max(75vw, 500px);
    background-position:center;
    background-repeat:repeat;

    filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
    transition:background-color var(--trans2), box-shadow var(--trans2);
}

.theme-dark .glass{
    background-image:url("../img/noise-texture-big-dm.svg");
}

/* SVG Class */
.app-logo{
    width:100%;
    height:100%;

    & *{
        transition:var(--trans2);
    }

    & .cls-1{
        fill:var(--txt1);
    }

    & .cls-2{
        fill:var(--color1);
    }

}

/* SVG Parent Class */
.app-logo-action svg:hover .cls-2{
    fill:var(--color1a);
}

.App:has(.whole-screen){
    min-height:100vh;
    display:flex;
    flex-direction:column;

    & footer{
        margin-top:auto;
    }

    & > div:has(.whole-screen){
        flex:1;
        margin-bottom:var(--size8);
        display:flex;
        align-items:center;
    }

}

@media screen and (width <= 540px){

    .App{
        padding:0 var(--size5);
    }

    .glass{
        padding:var(--size5);
    }
    
}