


/* 
    Uverit Converter
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



html{
    scroll-behavior:smooth;
}

.App{
    padding:0 var(--size6);
}

.wrapper{
    width:min(1024px, 100%);
    margin:0 auto;
}

.glass{
    --border:var(--size05);
    padding:var(--size6);
    position:relative;

    box-shadow:var(--boxShadow1), var(--boxShadow2), var(--boxShadowIns1);
    border:none;
    border-radius:var(--size6);

    background-image:url("../img/noise-texture-big.svg");
    background-color:var(--color3st1);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
    transition:background-color var(--trans2), box-shadow var(--trans2);
}

.theme-dark .glass{
    background-image:url("../img/noise-texture-big-dm.svg");
}

/* SVG Class */
.app-logo{
    width:100%;
    height:100%;

    & *{
        transition:var(--trans2);
    }

    & .cls-1{
        fill:var(--txt1);
    }

    & .cls-2{
        fill:var(--color1);
    }

}

/* SVG Parent Class */
.app-logo-action svg:hover .cls-2{
    fill:var(--color1a);
}

@media screen and (width <= 540px){

    .glass{
        padding:var(--size5);
    }
    
}