


/* 
    Uverit Converter
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.link-tiles{
    
    & .tile-group{
        width:100%;
        margin-bottom:var(--size8);

        display:flex;
        flex-direction:column;
        gap:var(--size6);

        &:nth-last-child(1){
            margin-bottom:0;
        }

        & .tile-name-heading{
            padding-top:var(--size4);
            padding-bottom:var(--size4);

            text-align:center;
            text-transform:capitalize;
            background-color:var(--color3b);
            transition:var(--trans2);
        }

        & .tile-links{
            width:100%;
            display:grid;
            grid-template-columns:repeat(3, 1fr);
            gap:var(--size6);
        }

        & .tile-link{
            display:flex;

            & .tile-link-inner{
                width:100%;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                gap:var(--size3);
                background-color:var(--color3b);

                & *{
                    text-transform:capitalize;
                }

                &:hover{
                    box-shadow:var(--boxShadow1c1), var(--boxShadow2), var(--boxShadowIns1);

                    & svg{
                        height:calc(100% - var(--size2));
                    }

                    & svg *{
                        stroke:var(--color1);
                    }

                    & *{
                        color:var(--color1);
                    }

                }

            }

            & .tile-icon{
                height:var(--size9);
                display:flex;
                justify-content:center;
                align-items:center;

                & svg{
                    width:100%;
                    height:100%;
                    transition:var(--trans1);

                    & *{
                        stroke-width:8px;
                        stroke:var(--txt3);
                        transition:var(--trans1);
                    }
    
                }

            }
            
            & *{
                text-align:center;
            }

        }

    }

}

@media screen and (width <= 1024px){
    
    .link-tiles{
    
        & .tile-group{
    
            & .tile-link{
                
                & *{
                    font-size:20px;
                }
    
            }
    
        }
    
    }

}

@media screen and (width <= 768px){
    
    .link-tiles{
    
        & .tile-group{
    
            & .tile-links{
                grid-template-columns:repeat(2, 1fr);
            }
    
        }
    
    }

}

@media screen and (440px < width <= 540px){
    
    .link-tiles{
    
        & .tile-group{
    
            & .tile-link{
                
                & *{
                    font-size:16px;
                }
    
            }
    
        }
    
    }

}

@media screen and (width <= 440px){
    
    .link-tiles{
    
        & .tile-group{
    
            & .tile-links{
                grid-template-columns:repeat(1, 1fr);
            }

            & .tile-link{
                
                & svg{
                    height:var(--size9);
                }

            }
    
        }
    
    }

}