


/* 
    Uverit Converter
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.page-heading{
    margin-bottom:var(--size8);

    & .page-heading-text{
        text-align:center;
        background-color:var(--color3b);
        transition:var(--trans2);
    }

}

@media screen and (width <= 540px){
    
    .page-heading{
        margin-bottom:var(--size7);
    }

}