


/* 
    Uverit Converter
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



@media print{
    
    @page{ 
        margin:0;
        padding:0;
        size:A4;
    }

        /* Reset / Disable */

    :root .theme-dark{

            /* Colors */
    
        /* Main */
        --color1a:#62D2FD;
        --color1b:#2086B6;
    
        /* Accent */
        --color2a:#BF4FFF;
        --color2b:#A727DA;
    
        /* Main BG */
        --color3:#F8FAFE;
        --color3st1:rgb(248,250,254,0.92);
        --color3b:#FFFFFF;
    
    
    
            /* Text Colors */
    
        --txt1:#333333;
        --txt2:#4A4A4A;
        --txt3:#777777;
    
        --txt-rev1:#FFFFFF;
        --txt-rev2:#EEEEEE;
    
    
    
            /* Box Shadows */
    
        --shadowColor1:#CFCFCF;
        --shadowColor2:#D4DFE5;
    
        --boxShadow1:0 0 10px 1px var(--shadowColor2);
        --boxShadow2:0 0 2px 1px var(--shadowColor2);
        --boxShadowIns1:inset 0 0 2px 0 var(--shadowColor1);
        
    }

    .no-print{
        display:none !important;
    }

    .App{
        padding:0 !important;
    }

    .glass{
        background-image:none !important;
        filter:none !important;
    }

    .unit-tables{
        padding:0 !important;
        gap:0 !important;
        box-shadow:none !important;
    }
    
        /* Changes */

    .pdf-table-padding{
        padding:var(--size6);

        &:nth-of-type(1){
            padding-bottom:0;
        }

    }

    .outer-table.glass{
        page-break-inside:avoid;

        .separate-pages &{
            page-break-before:always;
        }

        & .converter-table{
        
            & :is(td.name, th.name){
                width:320px;
            }

            & tr{
                border-top:solid var(--size05) var(--shadowColor2);
            }

        }

    }

    *{
        background-color:#FFF !important;
    }

}
